<section class="container mt-5">
  <!--セクションタイトル-->
  <h2 class="section-ttl row mb-3">試合結果</h2>

  <div class="main_info container">
    <div class="row justify-content-around">
      <% @graduates.each do |graduate| %>
        <!--カードの枠-->
        <%= link_to graduate_path(graduate.id) do %>
          <article class="card mt-4 shadow" style="max-width: 20rem;">
            <!--カード本文-->
            <div class="card-body">
                <!--カードの見出し-->
                <h6 class="card-title text-dark link-secondary"><%= graduate.year %></h4>
                <!--カードの内容文--->
                <p class="card-text"></p>
            </div>
            <!--カード下部に画像を表示-->
            <%= attachment_image_tag graduate, :image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300', class: "card-img-button" %>
          </article>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <%= paginate @graduates %>

</section>