<section class="container p-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>OB紹介</span>
  </h3>

  <div class="main_info container">
    <div class="row justify-content-around">
      <% @graduates.each do |graduate| %>
        <!--カードの枠-->
        <%= link_to graduate_path(graduate.id) do %>
          <article class="card mt-4 shadow" style="max-width: 20rem;">
            <!--カード本文-->
            <div class="card-body">
                <!--カードの見出し-->
                <h6 class="card-title text-dark font-weight-bold"><span class="alert-success"><%= '卒業年度' + " " + graduate.year.to_s %></span></h4>
                <!--カードの内容文--->
                <p class="card-text"></p>
            </div>
            <!--カード下部に画像を表示-->
            <%= attachment_image_tag graduate, :image, :fill, 300, 300, fallback: asset_path("noImage.jpg"), size:'300x300', class: "card-img-button" %>
          </article>
        <% end %>
      <% end %>
    </div>
  </div>
    <!--ページネーション-->
  <div class="row justify-content-center mt-5">
    <%= paginate @graduates %>
  </div>

</section>