<section class="container mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>スケジュール管理</span>
  </h3>

  <div
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div>
        <%= link_to event.title, event_path(event.id), class: "text-dark link-secondary" %>
      </div>
    <% end %>
  
  <% end %>

</section>