<section class="container mt-5 vh-100">

  <!--見出し-->
  <h3 class="row justify-content-center">
    <span>ご注文ありがとうございます！</span>
  </h3>
  <!--コメント-->
 <div class="row justify-content-center">
  <p>商品が整い次第、担当者よりメールにてご連絡いたしますのでしばらくお待ちください。<br>
  今後とも青山高校サッカー部の応援をよろしくお願いいたします。</p>
 </div>

</section>