<h5><%= @contact.name %> 様</h5>

<h5>お問い合わせ内容</h5>
<p>－－－－－－－－－－－－－<br>
  <%= @contact.content %><br>
</p>

<p>
  お問い合わせありがとうございます。<br>
  後日担当者よりご連絡いたしますので、<br>
  しばらくお待ちください。
</p>

<p>
  －－－－－－－－－－－－－<br>
  AOYAMAFOOTBALLCLUB<br>
  aoyamafootball11@gmail.com
  －－－－－－－－－－－－－<br>
</p>