<main>
<div class="container">
    <!--カルーセル外枠-->
    <div id="main-visual" class="carousel slide" data-ride="carousel">
        <!--インジケーター-->
        <ol class="carousel-indicators">
            
        </ol>
        <!--カルーセル内枠-->
        <div class="carousel-inner">
            <!--スライド01-->
            <div class="carousel-item active">
                <img class="img-fluid" src="/assets/top/2021-01.jpg" alt="青山高校サッカー部">
            </div>
            <!--スライド02-->
            <div class="carousel-item active">
                <img class="img-fluid" src="/assets/top/2021-02.jpg" alt="青山高校サッカー部">
            </div>
            <!--スライド03-->
            <div class="carousel-item active">
                <img class="img-fluid" src="/assets/top/2021-03.jpg" alt="青山高校サッカー部">
            </div>
            
            <!--コントローラ-->
            <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">前に戻る</span>
            </a>
            <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">次に進む</span>
            </a>
        </div>
    </div>
</div>
</main>

<!--フッター-->
<%= render '/layouts/footer' %>