/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
 margin: 0;
 padding: 0;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

 header {
   background-color: #fd7e00;
 }

header img {
  width: 200px;
  height: auto;
}

main {
    min-height: 100vh;
    position: relative;/*←相対位置*/
}

/*フッターのレイアウト*/
.footer-main {
  psition: absolute; /*絶対位置*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fd7e00;
}

/*aboutページレイアウト*/

/*container幅を固定*/
.about-main {
  width: 640px;
}

/*見出しのマージン指定*/
.about-main h2 {
  margin-top: 20px;
}


/*ボタン箇所のマージン統一*/
.btn {
  margin: 10px;
}


/*保護者詳細ページテーブル幅固定*/
.admins_guardians_info {
  width: 620px;
}

/*保護者編集入力フォーム幅固定*/
.admins_guardians_edit {
  width: 620px;
}

.admins_graduates_list,
.admins_graduate_info,
.admins_graduate_edit {
  width: 620px;
}

.admins_game_result_new,
.admins_game_result_edit,
.admins_graduate {
  width: 620px;
}

.admins_information_new,
.admins_information_edit,
.admins_information {
  width: 620px;
}

.admins_information_for_guardian_new,
.admins_information_for_guardian_edit,
.admins_information_for_guardian {
  width: 620px;
}

.admins_item_new,
.admins_item_edit {
 width: 620px;
}


.admins_contact {
  width: 620px;
}

.admins_order {
  width: 620px; 
}