/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
 margin: 0;
 padding: 0;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #eff2f8;

}

//エラーメッセージレイアウト
.error-message {
  background-color: #fadbda;
  padding: 10px;
  margin: 10px 10px 20px 0px;
  border-radius: 0.65em;
}

ul {
  list-style: inside;
}

//ページネーションのレイアウト

.page-item.active .page-link{
  background: #434343;
  border: noen;
}

.pagination>li>a {
  background: #e3dfdc;
  border: none;
  color: #1a0b08;
  margin-top: 10px;
}

.pagination>.active>a {
  background: #434343;
  border: none;
  color: #FFF;
}

.pagination>li>a:hover {
  background: #FFF;
  border: none;
  color: #1a0b08;
}

.pagination {
}



 //管理者ログイン画面レイアウト
.input_box {
  background-color: white;
  width: 500px;
  margin: 50px;
  border-radius: 1em;
}


/*container幅を固定*/
.about-main {
  width: 640px;
}

/*見出しのマージン指定*/
.about-main h2 {
  margin-top: 20px;
}


/*ボタン箇所のマージン統一*/
.btn {
  margin: 10px;
}
