<h1>注文詳細</h1>

<label>注文内容</label>
<table class="table table-bordered">
  <thead>
    <tr class="table-active">
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>